{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <title>RH</title>
</head>
<body>
    <div class="banner">
        <img src="{% static "img/cytonn-photography-n95VMLxqM2I-unsplash.jpg"%}" alt="Banner">
    </div>
    <div class="logo">
        <img src="{% static "ChatGPT_Image_7_de_abr._de_2025__13_10_49-removebg-preview.png"%}" alt="logo">
    </div>

</body>
</html>